.slider{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 100%;
  background-color: #f4f7ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .4s ease-in-out;

  .links{
    font-family: 'Manrope', serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 54px;
    color: var(--dark-color);
  }
}

.open{
  left: 0;
}