@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
  --primary-color: #1b5bf7;
  --dark-color: #18191f;
  --secondary-color: #464359;
  --background-color: #f4f7ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Manrope';
}

html,
body {
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}